h1 {
    color: tomato !important;
}

.blue-heading {
    color:dodgerblue
}
#special-heading {
    color:chocolate

}
#title { 
    color: orange
}
.summary-toggle {
    color:olive;
    cursor: pointer;

    &:hover {color:hotpink}
}